argostranslate==1.9.6
gradio==5.29.0
langchain==0.3.25
langchain_community==0.3.24
langchain_huggingface==0.2.0
numpy==2.2.5
Pillow==11.3.0
pymilvus==2.6.2
scikit_learn==1.7.2
setuptools==75.6.0
torch==2.8.0
torchvision==0.23.0
transformers==4.51.3
