argostranslate==1.9.6
gradio==5.46.1
langchain==0.3.27
langchain_community==0.3.29
langchain_huggingface==0.3.1
matplotlib==3.8.3
numpy==2.3.3
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
Pillow==11.3.0
pymilvus==2.6.2
pytube==15.0.0
scikit_learn==1.7.2
setuptools==75.6.0
torch==2.8.0
torchvision==0.23.0
transformers==4.56.2
